awkward
black
coverage
darglint
flake8
h5py
isort
jupyter
matplotlib
numpy
numba
pandas
pylint
pytest-cov
pytest
scikit-learn
tqdm
uproot
torchvision
jupyter
jupyterlab
python-gitlab
scipy
seaborn
xarray
xhistogram
omegaconf
hydra-core
wandb
