awkward==1.7.0
black==22.3.0
coverage==5.5
darglint==1.8.1
flake8==3.9.2
h5py==3.3.0
isort==5.9.3
jupyter==1.0.0
matplotlib==3.4.2
numpy==1.21.0
onnxruntime-training==1.11.0
onnx==1.10.0
pandas==1.1.5
pylint==2.12.2
pytest-cov==2.12.0
pytest==6.2.4
ruamel.yaml==0.17.10
scikit-learn==1.0.1
tensorboardX==2.4.1
tqdm==4.61.2
uproot==4.0.7
geomloss==0.2.4
tfrecord==1.14.1
pykeops==1.5
